<form [formGroup]="resetForm" (ngSubmit)="resetPassword()" >
  <div class="user-form-grid">

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required />
<!--    <mat-error *ngIf="resetForm.controls.email.invalid && (resetForm.controls.email.dirty || resetForm.controls.email.touched)">-->
<!--      Please enter a valid email.-->
<!--    </mat-error>-->
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>New Password</mat-label>
    <input matInput type="password" formControlName="newPassword" required />
<!--    <mat-error *ngIf="resetForm.controls.newPassword.invalid && (resetForm.controls.newPassword.dirty || resetForm.controls.newPassword.touched)">-->
<!--      Password must be at least 6 characters long.-->
<!--    </mat-error>-->
  </mat-form-field>
  </div>
  <button mat-raised-button color="primary" type="submit">Reset Password</button>
  <p *ngIf="message">{{ message }}</p>
</form>
