<h1 class="title">Sign Up</h1>
<div class="container d-flex justify-content-center">
  <form class="form-width" (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
    <app-sign-in-name
      [firstNameFormControl]="firstNameFormControl"
      [lastNameFormControl]="lastNameFormControl"
    />
    <app-shared-email [emailFormControl]="emailFormControl" [isSignUp]="true" />
    <app-sign-in-password [passwords]="passwordsFormGroup" />
    <app-sign-in-phone [phoneFormControl]="phoneFormControl" />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
