<div class="container d-flex justify-content-center">
  <form class="form-width" (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
    <h4>Join us now and sign up!</h4>
    <app-sign-in-name
      [firstNameFormControl]="firstNameFormControl"
      [lastNameFormControl]="lastNameFormControl"
    />
    <app-shared-email [emailFormControl]="emailFormControl" [isSignUp]="true" />
    <app-sign-in-password [passwords]="passwordsFormGroup" />
    <app-sign-in-phone [phoneFormControl]="phoneFormControl" />
    <div class="text-center">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="signUpForm.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
