<p class="paragraph">
  By nature, each job title has a set of “requirements” that needs to be
  fulfilled in order for an employee to advance in his/her career. At Sumerge,
  we require the employee to fulfil those requirements before being promoted to
  the new title. Check your title and package below, respectively:
</p>
<div class="tablediv">
  <table mat-table [dataSource]="careerPackages" class="mat-elevation-z8">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let careerPackage">
        {{ titlePackageMap[careerPackage][0] }}
      </td>
    </ng-container>

    <ng-container matColumnDef="package">
      <th mat-header-cell *matHeaderCellDef>Package</th>
      <td mat-cell *matCellDef="let careerPackage">
        <a [href]="getSafeUrl(careerPackage.googleDocLink)" target="_blank">
          {{ titlePackageMap[careerPackage][1] }}
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<mat-card appearance="outlined" class="card">
  <mat-card-content>
    <div class="mat-accordion-container">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="submitCpPanelOpenState.set(true)"
          (closed)="submitCpPanelOpenState.set(false)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Submit Career Package </mat-panel-title>
          </mat-expansion-panel-header>
          <form
            [formGroup]="careerPackageSubmissionForm"
            (ngSubmit)="onSubmitCareerPackage()"
          >
            <div
              class="submit-career-package"
            >
              <mat-form-field
                formControlName="packageTitleControlForm"
              >
                <mat-label>Select a Career Package</mat-label>
                <mat-select [(value)]="selected">
                  <mat-option>None</mat-option>
                  <mat-option value="Software_Engineer"
                    >Software Engineer</mat-option
                  >
                  <mat-option value="Staff_Software_Engineer"
                    >Staff Software Engineer</mat-option
                  >
                  <mat-option value="Senior_Staff_Software_Engineer"
                    >Senior Staff Software Engineer</mat-option
                  >
                  <mat-option value="Principal_Software_Engineer"
                    >Principal Software Engineer</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Document URL</mat-label>
                <input
                  matInput
                  formControlName="googleDocLinkControlForm"
                  name="document"
                  required
                />
              </mat-form-field>
              <button  mat-raised-button color="primary" type="submit">Submit</button>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <!--View Previos Career Packages--->
    <div class="mat-accordion-container">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="viewCpPanelOpenState.set(true)"
          (closed)="viewCpPanelOpenState.set(false)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> View Previous Career Packages </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- Previous Career package component--->
          <app-previous-career-package />
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="mat-accordion-container">
      <!---*ngIf="isManager"-->
      <mat-accordion>
        <mat-expansion-panel
          (opened)="viewCpPanelOpenState.set(true)"
          (closed)="viewCpPanelOpenState.set(false)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              View your employees Career Packages
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- Your Employees Career package component--->
          <app-your-employees-career-package />
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>
