.tablediv {
    width: 50%;
    margin: auto;
  padding: 2% 2% 5%;
}

  table {
    width: 100%;
    border-radius: 8px;
    box-shadow: none;
  }

.card{
  background-color: rgba(255, 255, 255, 0.6);
}

  .submit-career-package {
    margin: auto;
    display: flex;
    gap: 10px
  }

.mat-accordion-container{
  background-color: transparent;
  padding-bottom: 20px;
}

.mat-accordion-container:last-child{
  padding-bottom: 0;
}


.paragraph{
  margin-top: 30px;
}

@media (max-width: 480px) {
  .submit-career-package {
    margin: auto;
    display: grid;
    gap: 0px;
  }

}
