<form [formGroup]="assignTitleForm" (ngSubmit)="assignTitle()">
  <div class="user-form-grid">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required>
      <mat-error *ngIf="assignTitleForm.get('email')?.hasError('required')">
        Email is required.
      </mat-error>
      <mat-error *ngIf="assignTitleForm.get('email')?.hasError('email')">
        Please enter a valid email.
      </mat-error>
    </mat-form-field>
  </div>
  <div class="user-form-grid">
    <mat-form-field appearance="fill">
      <mat-label>Department</mat-label>
      <mat-select formControlName="department" (selectionChange)="onDepartmentChange($event)">
        <mat-option *ngFor="let department of departments" [value]="department.name">
          {{ department.name }}
        </mat-option>
      </mat-select>

      <mat-error *ngIf="assignTitleForm.get('department')?.hasError('required')">
        Department is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <mat-select formControlName="title" required>
        <mat-option *ngFor="let title of titles" [value]="title.id">
          {{ title.title }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="assignTitleForm.get('title')?.hasError('required')">
        Title is required.
      </mat-error>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit">Assign Title</button>
</form>
