<div>
  <form
    [formGroup]="editCareerPackageFormGroup"
    (ngSubmit)="onSubmitEditCareerPackage()"
    class="form"
  >
    <mat-form-field appearance="outline">
      <mat-label>Career Package</mat-label>
      <mat-select formControlName="titleFormControl" required>
        <mat-option
          *ngFor="let title of availableCareerPackagesTitles"
          [value]="title"
        >
          {{ title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <div  *ngFor="let title of titles; trackBy:item"></div> -->

    <mat-form-field appearance="outline">
      <mat-label>Document URL</mat-label>
      <input matInput formControlName="googleDocLinkFormControl" required />
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      class="button"
      [disabled]="editCareerPackageFormGroup.invalid"
    >
      Submit Career Package
    </button>
  </form>
</div>
