.scoreboard-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.table-wrapper {
  overflow-x: auto; /* Allows horizontal scrolling on smaller devices */
}

.level-badge {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
}

.level-badge.Explorer {
  background-color: darkblue;
}

.level-badge.Dynamo {
  background-color: #75dfb6;
}

.level-badge.Pioneer {
  background-color: #94d8ed;
}

.level-badge.Legend {
  background-color: deeppink;
}

.level-badge.Guru {
  background-color: orange;
}

.filter-form-field {
  width: 100%;
}

.head-row {
  background-color: #7c8bd5;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.first-rank-icon {
  color: gold;
  font-size: 25px;
  margin-left: 8px;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .scoreboard-container {
    margin: 10px;
  }

  .level-badge {
    font-size: 0.7rem;
    padding: 3px 6px;
  }

  .first-rank-icon {
    font-size: 20px;
    margin-left: 5px;
  }

  th, td {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {

  .filter-form-field {
    width: 100%;
    margin-top: 10px;
  }

  .level-badge {
    font-size: 0.6rem;
    padding: 2px 5px;
  }

  .first-rank-icon {
    font-size: 18px;
  }

  th, td {
    font-size: 0.75rem;
  }
}
