<div *ngFor="let user of managedUsers">
  <div *ngIf="usersSubmittedCP[user.id]">
    <div *ngFor="let submission of usersSubmittedCP[user.id]">
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header class="example-card-header">
          <mat-card-title class="title"
            >{{ user.firstName }} {{ user.lastName }}</mat-card-title
          >
          <mat-card-subtitle class="subtitle">Title: {{ submission.title }}</mat-card-subtitle>
          <mat-card-subtitle class="subtitle"
            ><a href="{{ submission.googleDocLink }}" target="_blank">
              Career Package
            </a></mat-card-subtitle
          >
          <mat-card-subtitle class="subtitle approval-badge-container"> <span class="approval-badge" [ngClass]="getApprovalStatusClass(submission.status)">{{ submission.status }}</span>
          </mat-card-subtitle >

        </mat-card-header>
        <div *ngIf="submission.status === 'PENDING'">
          <mat-card-footer class="example-card-footer">
            <mat-chip-set aria-label="Chihuahua traits">
              <button
                mat-button
                class="text-success"
                (click)="acceptCareerPackage(submission)"
              >
                Accept
              </button>
              <button
                mat-button
                class="text-danger"
                (click)="rejectCareerPackage(submission)"
              >
                Reject
              </button>
            </mat-chip-set>
          </mat-card-footer>
        </div>
      </mat-card>
    </div>
  </div>
</div>
