<div *ngFor="let user of managedUsers">
  <div *ngIf="usersSubmittedCP[user.id]">
    <div *ngFor="let submission of usersSubmittedCP[user.id]">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title
            >{{ user.firstName }} {{ user.lastName }}</mat-card-title
          >
          <mat-card-subtitle>{{ submission.title }}</mat-card-subtitle>
          <mat-card-subtitle>{{ submission.status }}</mat-card-subtitle>
          <mat-card-subtitle
            ><a href="{{ submission.googleDocLink }}" target="_blank">
              Career Package
            </a></mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-footer class="example-card-footer">
          <mat-chip-set aria-label="Chihuahua traits">
            <button mat-button class="text-success">Accept</button>
            <button mat-button class="text-danger">Reject</button>
          </mat-chip-set>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
