<div class="manager-page">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title class="title">Manager Controls</mat-card-title>
      <mat-card-subtitle class="subtitle">Manage your team's learnings and articles.</mat-card-subtitle>
    </mat-card-header>
  </mat-card>


  <div class="toggleGroup">
  <mat-button-toggle-group [(ngModel)]="selectedView" name="viewToggle" aria-label="View Toggle">
    <mat-button-toggle value="learnings">Learnings</mat-button-toggle>
    <mat-button-toggle value="articles">Articles</mat-button-toggle>
  </mat-button-toggle-group>
</div>
  <ng-container *ngIf="selectedView === 'learnings'">
    <app-learning-manager [managedUsers]="managedUsers"></app-learning-manager>
  </ng-container>

  <ng-container *ngIf="selectedView === 'articles'">
    <app-article-manager [managedUsers]="managedUsers"></app-article-manager>
  </ng-container>
</div>
