<mat-toolbar class="transparent-toolbar">
  <div  class="notification">
    <app-notification></app-notification>
  </div>
  <mat-card-header class="image-header">
    <img src="sumerge.png" alt="Sumerge Logo" class="sumerge-logo" routerLink="/home"
    />
  </mat-card-header>

  <button mat-icon-button [matMenuTriggerFor]="menu" class="hamburger-button">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu" class="mat-menu-panel">
    @if (!isLoggedIn) {
    <button mat-menu-item routerLink="/login" routerLinkActive="active">
      Login
    </button>

    <button mat-menu-item routerLink="/signup" routerLinkActive="active">
      Sign Up
    </button>
    } @else{
    <button mat-menu-item routerLink="/home" routerLinkActive="active">
      Home
    </button>
    <button mat-menu-item routerLink="/articles" routerLinkActive="active">
      Articles
    </button>
    <button mat-menu-item routerLink="/library" routerLinkActive="active">
      Library
    </button>
    <button mat-menu-item routerLink="/myLearnings" routerLinkActive="active">
      My Learnings
    </button>

    @if (isManager){
    <button mat-menu-item routerLink="/manage" routerLinkActive="active">
      Manage
    </button>
    }

    <button mat-menu-item routerLink="/careerPackage" routerLinkActive="active">
      Career Packages
    </button>

    @if (isAdmin){
    <button mat-menu-item routerLink="/admin" routerLinkActive="active">
      Admin
    </button>
    }

    <button
      mat-menu-item
      routerLink="/login"
      routerLinkActive="active"
      (click)="logout()"
    >
      Logout
    </button>
    }
  </mat-menu>

  <nav class="desktop-nav">
    @if (!isLoggedIn) {
    <a
      mat-button
      routerLink="/login"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Login</a
    >
    <a mat-button routerLink="/signup" routerLinkActive="active">Register</a>
    } @else {
    <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/articles" routerLinkActive="active">Articles</a>

    <a mat-button routerLink="/library" routerLinkActive="active">Library</a>
    <a mat-button routerLink="/myLearnings" routerLinkActive="active"
      >My Learnings</a
    >

    <a mat-button routerLink="/careerPackage" routerLinkActive="active"
      >Career Packages</a
    >

    @if (isManager){
    <a mat-button routerLink="/manage" routerLinkActive="active">Manage</a>
    } @if (isAdmin){
    <a mat-button routerLink="/admin" routerLinkActive="active">Admin</a>
    }
      <app-notification></app-notification>

      <a
      mat-button
      class="custom-primary"
      routerLink="/login"
      routerLinkActive="active"
      (click)="logout()"
      >Logout</a
    >
    }
  </nav>
</mat-toolbar>
