<mat-card appearance="outlined" >
  <mat-card-header>
    <mat-card-title>Admin Controls</mat-card-title>
    <mat-card-subtitle>Manage users, settings, and system preferences</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<div class="example-action-buttons">
  <button mat-button (click)="accordion().openAll()">Expand All</button>
  <button mat-button (click)="accordion().closeAll()">Collapse All</button>
</div>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Register new user </mat-panel-title>
      <mat-panel-description>
        Enter user details
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-add-user/>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Manage user title & department </mat-panel-title>
      <mat-panel-description>
        Enter user details
        <mat-icon>badge</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    update here
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Reset User Password </mat-panel-title>
      <mat-panel-description>
        enter user details
        <mat-icon>password</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-reset-password/>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Manage User Account </mat-panel-title>
      <mat-panel-description>
        enter user details
        <mat-icon>person_off</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-freeze-user/>
  </mat-expansion-panel>


</mat-accordion>
