<h1 class="d-flex justify-content-center align-items-center">LogIn</h1>
<div class="container d-flex justify-content-center">
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="form-width">
    <h4>Welcome back, please login!</h4>
    @if (errorMessage.length > 0) { <mat-error>{{ errorMessage }}</mat-error> }

    <app-shared-email
      [emailFormControl]="emailFormControl"
      [isSignUp]="false"
    />
    <app-login-password [loginFormGroup]="loginForm" />
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Submit
    </button>
  </form>
</div>
