
  <form (ngSubmit)="submit()">

  <div  class="form-grid">
    <mat-form-field appearance="outline">
      <mat-label>Learning Title</mat-label>
      <input matInput [(ngModel)]="submitLearningDTO.title" name="learningTitle" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Learning Type</mat-label>
      <mat-select [(ngModel)]="submitLearningDTO.learningTypeId" name="learningTypeId" required>
        <mat-option *ngFor="let type of learningTypes" [value]="type.id">
          {{ type.typeName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Learning Subject</mat-label>
      <mat-select [(ngModel)]="submitLearningDTO.learningSubjectId" name="learningSubjectId" required>
        <mat-option *ngFor="let subject of learningSubjects" [value]="subject.id">
          {{ subject.subject }} - {{ subject.type }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>URL</mat-label>
      <input matInput [(ngModel)]="submitLearningDTO.url" name="URL" required>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Length in Hours</mat-label>
      <input matInput type="number" [(ngModel)]="submitLearningDTO.lengthInHours" name="lengthInHours" required>
    </mat-form-field>
  </div>
    <div>
    <mat-form-field appearance="outline" class="description">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="submitLearningDTO.description" name="description" required ></textarea>
    </mat-form-field>
    </div>


  <button type="submit" mat-raised-button color="primary" class="button">Submit Learning</button>
</form>

