.submit-card {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 16px;
}
.title{
  margin-bottom: 10px;
}

.form-grid {
  display: flex;
  gap: 5px;
}

.description{
  width:41%
}

@media (max-width: 426px) {
  .form-grid {
    display: grid;
    gap: 5px;
  }

  .description{
    width:100%
  }

  .button {
    display: block;
    margin: 0 auto;
  }

}
