<div class="example-container" [formGroup]="loginFormGroup">
  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      [type]="hide() ? 'password' : 'text'"
      formControlName="passwordFormControl"
      (input)="onChangePassword()"
      [errorStateMatcher]="matcher"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
</div>
