<mat-card class="learning-scoreboard-card">
  <mat-card-header>
    <img src="sumerge.png" alt="Sumerge Logo" class="sumerge-logo" />
  </mat-card-header>

  <mat-card-content>
    <div class="content-container">
      <div class="text-section">
        <h2>Journey Map</h2>

        <div class="map-section mobile-only">
          <app-journey-map></app-journey-map>
        </div>

        <p>Hover over your opponents to track their progress on the
          <i>journey map</i> !</p>
        <p class="scoreboard-text">Or check the scoreboard below
          <mat-icon>keyboard_arrow_down</mat-icon>
        </p>

      </div>

      <div class="map-section desktop-only">
        <app-journey-map></app-journey-map>
      </div>
    </div>
  </mat-card-content>
</mat-card>
