<div>
  <div class="row">
    <mat-form-field appearance="fill">
      <input matInput formControlName="email" required />
    </mat-form-field>

    <mat-button-toggle-group [(ngModel)]="selectedAction">
      <mat-button-toggle  value="freeze">
        Freeze User
      </mat-button-toggle>
      <mat-button-toggle (click)="setAction('unfreeze')" value="unfreeze">
        Unfreeze User
      </mat-button-toggle>
      <mat-button-toggle (click)="setAction('delete')" value="delete">
        Delete User
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>

  <p *ngIf="message">{{ message }}</p>
</div>
