<div>
  <p class="learning-title">Your submitted learnings:</p>
</div>

<div class="filter-container">
  <mat-form-field appearance="outline">
    <mat-label>Filter by Name, Approval Status, or Comment</mat-label>
    <input matInput [(ngModel)]="filter" (input)="applyFilters()">
  </mat-form-field>
</div>

<div class="learning-list">
  <user-learning-card
    *ngFor="let learning of filteredLearnings"
    [title]="learning.title"
    [comment]="learning.comment"
    [proof]="learning.proof"
    [proofTypeName]="learning.proofTypeName"
    [date]="learning.date"
    [baseScore]="learning.baseScore"
    [url]="learning.URL"
    [approvalStatus]="learning.approvalStatus"
    [hours]="learning.lengthInHours"
  >
  </user-learning-card>
</div>

<app-submit-learning-form/>
