table {
  width: 100%;

}

.scoreboard-container {
  margin: 20px;

}

.level-badge {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
}

.level-badge.Explorer {
  background-color: darkblue;
}

.level-badge.Dynamo {
  background-color: #75dfb6;
}

.level-badge.Pioneer {
  background-color: #94d8ed;
}

.level-badge.Legend {
  background-color: deeppink;
}

.level-badge.Guru {
  background-color: orange;
}


.filter-controls {
  margin-bottom: 20px;
}

.mat-mdc-form-field {
  width: 100%;
}

table {
  width: 100%;
}

.head-row{
  background-color: #7c8bd5;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}


.first-rank-icon {
  color: gold;
  font-size: 25px;
  margin-left: 8px;
  vertical-align: middle;
}
