<mat-card class="example-card" appearance="outlined">
  <mat-card-header class="header">
    <mat-card-title class="title">{{title}}</mat-card-title>
    <mat-card-subtitle class="subtitle">
      <a [href]="url" target="_blank">View Learning</a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{description}}</p>
  </mat-card-content>
  <mat-card-footer class="example-card-footer">
    <mat-chip-set aria-label="Chihuahua traits">
      <mat-chip>
        <mat-icon class="small-icon">schedule</mat-icon> {{ hours }} hrs
      </mat-chip>
      <mat-chip>{{subject}}</mat-chip>
      <mat-chip>{{type}}</mat-chip>
      <mat-chip>{{typeName}}</mat-chip>
      <mat-chip><mat-icon class="small-icon">grade</mat-icon> {{ baseScore }} pts
      </mat-chip>    </mat-chip-set>
  </mat-card-footer>
</mat-card>
