<div [formGroup]="passwords">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              [type]="hide() ? 'password' : 'text'"
              formControlName="passwordFormControl"
              (input)="onChangePassword()"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
              <mat-icon>{{
                hide() ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </td>
      <td>
        <div class="example-container">
          <mat-form-field>
            <mat-label>Confirm password</mat-label>
            <input
              matInput
              [type]="hide() ? 'password' : 'text'"
              formControlName="confirmPasswordFormControl"
              (input)="onChangeConfirmPassword()"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
              <mat-icon>{{
                hide() ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </td>
    </tr>
  </table>

  <mat-error
    *ngIf="passwords.errors?.['passwordMatch'] &&
    passwords.get('confirmPasswordFormControl')?.touched"
    class="error-message"
  >
    Passwords do not match!
  </mat-error>
</div>
