

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.subtitle {
  font-size: 16px;
  padding-bottom: 10px;
}

.panelTitle {
  font-size: 16px;
}

.panelDescription {
  font-size: 14px;
}

.learningControls{
  margin-top: 40px;
}

.careerPackageControl{
  margin-top: 40px;
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 14px;
  }

  .panelTitle {
    font-size: 14px;
  }

  .panelDescription {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 18px;
  }

  .subtitle {
    font-size: 12px;
  }

  .panelTitle {
    font-size: 12px;
  }

  .panelDescription {
    font-size: 10px;
  }
}


@media (max-width: 600px) {
  .panelDescription{
    display:none;
  }

}
