/* You can add global styles to this file, and also import other style files */

html, body {
}
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgba(124, 139, 213, 0.25);
  padding: 20px;
}

.user-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
